<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <connectionStrings>
    <add name="ACCESSCONNECTIONSTRING" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\\#langsun.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>


  

    
    <system.web>
      <!--maxRequestLength="100000" 上传限制100MB  uploadify上传附件时会用到-->
      <httpRuntime requestValidationMode="2.0" maxRequestLength="1000000" executionTimeout="500000" />
      <compilation debug="true" targetFramework="4.0" />
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />


 <customErrors mode="Off"/>



      <pages validateRequest="false" enableViewState="false" enableEventValidation="false" enableViewStateMac="false">
        <controls>
          <add tagPrefix="Webdiyer" namespace="Wuqi.Webdiyer" assembly="aspnetpager" />
        </controls>
      </pages>
       
    </system.web>

    <system.webServer>
        <handlers>
            <add name="andy" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
        </handlers>
        <directoryBrowse enabled="true" />

    </system.webServer>


</configuration>
